/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define HYPER LC(LS(LG(LALT)))

// layers
#define MAC_BASE 0
#define MAC_LOWER 1
#define MAGIC 2
#define LINUX_BASE 3
#define LINUX_LOWER 4

#define _SNGQU NUHS // '

#define _APOST EQUAL // ´
#define _MULTI LS(NUHS) // *
#define _1DOTS RBKT // ¨
#define _SV_AU LBKT // Å
#define _SV_AE SQT // Ä
#define _SV_OE SEMI // Ö
#define _ANG_L GRAVE // <
#define _ANG_R LS(GRAVE) // >
#define _SQR_L LA(N8) // [
#define _SQR_R LA(N9) // ]
#define _PAR_L LS(N8) // (
#define _PAR_R LS(N9) // )
#define _CRL_L LS(LA(N8)) // {
#define _CRL_R LS(LA(N9)) // }
#define _PLUS  MINUS // +
#define _DASH  SLASH // -
#define _AT    LA(N2) // @
#define _DOLLR LA(N4) // $
#define _FSLSH LS(N7) // /
#define _PIPE  LA(N7) // |
#define _BSLSH LS(LA(N7)) // \
#define _WRD_L LA(LEFT) // <<
#define _WRD_R LA(RIGHT) // >>
#define _TILDE LA(RBKT) // ~
#define _EQUAL LS(N0) // =
#define _QUEST LS(PLUS) // ?
#define _PARAG NUBS // §
#define _PERCN LS(N4) // %
#define _AMPER LS(N5) // &
#define _BRACK LS(N3) // #

/ {
    macros {
        bcktk: backtick {
            label = "BACKTICK";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
                <&macro_press &kp LSHFT>,
                <&macro_tap &kp EQUAL>,
                <&macro_release &kp LSHFT>,
                <&macro_tap &kp SPACE>;
        };

        bcktk3: triple_backtick {
            label = "TRIPLE_BACKTICK";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
                <&macro_press &kp LSHFT>,
                <&macro_tap &kp EQUAL>,
                <&macro_tap &kp EQUAL>,
                <&macro_tap &kp EQUAL>,
                <&macro_release &kp LSHFT>,
                <&macro_tap &kp SPACE>;
        };
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&rgb_ug RGB_STATUS>;
        };

        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mac_base_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  F1   |  F2 |  F3 |  F4  |  F5  |                                                               |  F6   |  F7   |  F8  |   F9  |  F10 |
            // |  =    |  1  |  2  |  3   |  4   |  5   |                                                 |  6   |   7   |   8   |  9   |   0   |   -  |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                                 |  Y   |   U   |   I   |  O   |   P   |   \  |
            // |  ESC  |  A  |  S  |  D   |  F   |  G   |                                                 |  H   |   J   |   K   |  L   |   ;   |   '  |
            // |   `   |  Z  |  X  |  C   |  V   |  B   | LSHFT | LCTRL | LOWER | | LGUI  | RCTRL | RSHFT |  N   |   M   |   ,   |  .   |   /   | PGUP |
            // | MAGIC | HOME| END | LEFT | RIGHT|      | BSPC  | DEL   | LALT  | | RALT  | RET   | SPACE |      |  UP   | DOWN  |  [   |   ]   | PGDN |M\/()

            bindings = <
            &kp F1            &kp F2              &kp F3          &kp F4          &kp F5                                                                                                                            &kp F6         &kp F7      &kp F8      &kp F9      &kp F10
            &kp F12           &kp N1              &kp N2          &kp N3          &kp N4          &kp N5                                                                                               &kp N6       &kp N7         &kp N8      &kp N9      &kp N0      &kp _PLUS
            &kp ESC           &kp Q               &kp W           &kp E           &kp R           &kp T                                                                                                &kp Y        &kp U          &kp I       &kp O       &kp P       &kp _SV_AU
            &kp TAB           &kp A               &kp S           &kp D           &kp F           &kp G                                                                                                &kp H        &kp J          &kp K       &kp L       &kp _SV_OE  &kp _SV_AE
            &kp LSHFT         &kp Z               &kp X           &kp C           &kp V           &kp B           &kp DEL     &kp LCTRL   &none          &none      &kp RCTRL            &kp RSHFT     &kp N        &kp M          &kp COMMA   &kp DOT     &kp _DASH   &kp RSHFT
            &magic MAGIC 0    &kp LS(LG(C))       &bcktk3         &kp LEFT        &kp RIGHT                       &kp BSPC    &kp LGUI    &kp LALT       &kp RALT   &lt MAC_LOWER ENTER  &kp SPACE                  &kp UP         &kp DOWN    &kp PG_UP   &kp PG_DN   &none
            >;
        };

        mac_lower_layer {
            bindings = <
            &kp C_BRI_DN      &kp C_BRI_UP        &kp C_PREV      &kp C_NEXT      &kp C_PP                                                                                                                      &kp C_MUTE     &kp C_VOL_DN  &kp C_VOL_UP  &none       &none 
            &none             &none               &none           &none           &none           &none                                                                                             &none       &none          &none         &none         &none       &none 
            &none             &none               &bcktk          &kp UP          &kp _PERCN      &kp _TILDE                                                                                        &kp _SNGQU  &kp _ANG_L     &kp _SQR_L    &kp _SQR_R    &kp _ANG_R  &none 
            &trans            &kp _AT             &kp _MULTI      &kp _DOLLR      &kp _AMPER      &kp _BRACK                                                                                        &kp _EQUAL  &kp _CRL_L     &kp _PAR_L    &kp _PAR_R    &kp _CRL_R  &none 
            &trans            &kp K_CMENU         &none           &none           &none           &none           &none       &none       &none          &none       &none           &none          &none       &kp _BSLSH     &kp _PIPE     &kp _FSLSH    &kp _QUEST  &none
            &trans            &trans              &trans          &trans          &trans                          &none       &none       &none          &none       &none           &none                      &none          &none         &none         &none       &none
            >;
        };

        magic_layer {
            bindings = <
            &bt BT_CLR        &to MAC_BASE        &to LINUX_BASE  &none           &none                                                                                                                         &none      &none      &none      &none      &bt BT_CLR_ALL
            &none             &none               &none           &none           &none           &none                                                                                             &none       &none      &none      &none      &none      &none
            &none             &rgb_ug RGB_SPI     &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_TOG                                                                                   &none       &none      &none      &none      &none      &none
            &bootloader       &rgb_ug RGB_SPD     &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_EFF                                                                                   &none       &none      &none      &none      &none      &bootloader
            &sys_reset        &none               &none           &none           &none           &none           &bt_2       &bt_3       &none          &none       &none           &none          &none       &none      &none      &none      &none      &sys_reset
            &none             &none               &none           &none           &none                           &bt_0       &bt_1       &out OUT_USB   &none       &none           &none                      &none      &none      &none      &none      &none
            >;
        };

        linux_base_layer {
            bindings = <
            &kp F1            &kp F2              &kp F3          &kp F4          &kp F5                                                                                                                              &kp F6         &kp F7      &kp F8      &kp F9      &kp F10
            &kp F12           &kp N1              &kp N2          &kp N3          &kp N4          &kp N5                                                                                                 &kp N6       &kp N7         &kp N8      &kp N9      &kp N0      &kp _PLUS
            &kp ESC           &kp Q               &kp W           &kp E           &kp R           &kp T                                                                                                  &kp Y        &kp U          &kp I       &kp O       &kp P       &kp _SV_AU
            &kp TAB           &kp A               &kp S           &kp D           &kp F           &kp G                                                                                                  &kp H        &kp J          &kp K       &kp L       &kp _SV_OE  &kp _SV_AE
            &kp LSHFT         &kp Z               &kp X           &kp C           &kp V           &kp B           &kp DEL     &kp LGUI   &none          &none      &kp RCTRL              &kp RSHFT      &kp N        &kp M          &kp COMMA   &kp DOT     &kp _DASH   &kp RSHFT
            &magic MAGIC 0    &kp HOME            &kp END         &kp LEFT        &kp RIGHT                       &kp BSPC    &kp LCTRL  &kp LALT       &kp RALT   &lt LINUX_LOWER ENTER  &kp SPACE                   &kp UP         &kp DOWN    &kp PG_UP   &kp PG_DN   &none
            >;
        };

        linux_lower_layer {
            bindings = <
            &kp C_BRI_DN      &kp C_BRI_UP        &kp C_PREV      &kp C_NEXT      &kp C_PP                                                                                                                      &kp C_MUTE     &kp C_VOL_DN  &kp C_VOL_UP  &none       &none 
            &none             &none               &none           &none           &none           &none                                                                                             &none       &none          &none         &none         &none       &none 
            &none             &none               &kp GRAVE       &kp CARET       &kp PRCNT       &kp TILDE2                                                                                        &kp APOS    &kp LT         &kp LBKT      &kp RBKT      &kp GT      &none 
            &trans            &kp AT              &kp STAR        &kp DOLLAR      &kp AMPS        &kp HASH                                                                                          &kp _EQUAL  &kp _CRL_L     &kp _PAR_L    &kp _PAR_R    &kp _CRL_R  &none 
            &trans            &kp C_AC_UNDO       &kp C_AC_CUT    &kp C_AC_COPY   &kp C_AC_PASTE  &kp C_AC_REDO   &none       &none       &none          &none       &none           &none          &none       &kp _BSLSH     &kp _PIPE     &kp _FSLSH    &kp _QUEST  &none
            &trans            &trans              &trans          &trans          &trans                          &none       &none       &none          &none       &none           &none                      &trans         &trans        &trans        &trans      &none
            >;
        };
    };
};
