/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define HYPER LC(LS(LG(LALT)))

// layers
#define MAC_BASE 0
#define MAC_LOWER 1
#define MAGIC 2
#define LINUX_BASE 3
#define LINUX_LOWER 4

// MacOS X specific keycodes

// Number row
#define MAC_BANG LS(N1)
#define MAC_QUOTE LS(N2)
#define MAC_BRKT LS(N3)
#define MAC_PERC LS(N4)
#define MAC_DOLLAR LA(N4)
#define MAC_AMPER LS(N5)
#define MAC_SLASH LS(N7)
#define MAC_LPAR LS(N8)
#define MAC_RPAR LS(N9)
#define MAC_EQUAL LS(N0)
#define MAC_PLUS MINUS
#define MAC_AT RA(N2)
#define MAC_LBRKT LA(N8)
#define MAC_RBRKT LA(N9)
#define MAC_LBRC LS(LA(N8))
#define MAC_RBRC LS(LA(N9))

// Other keys
#define MAC_APOS NUHS
#define MAC_STAR LS(NUHS)
#define MAC_LTHAN GRAVE
#define MAC_GTHAN LS(GRAVE)
#define MAC_PIPE LA(N7)
#define MAC_BSLASH LS(LA(N7))
#define MAC_QMARK LS(PLUS)
#define MAC_MINUS SLASH
#define MAC_TILDE LA(RBKT)
#define MAC_FTICK EQUAL
#define MAC_DOTS RBKT
#define MAC_PARAG NUBS
#define MAC_CARET LS(NUBS)

// MAC combos
#define MAC_UNDO LG(Z)
#define MAC_CUT LG(X)
#define MAC_COPY LG(C)
#define MAC_PASTE LG(V)
#define MAC_REDO LS(LG(Z))
#define MAC_SELECT_ALL LG(A)
#define MAC_PG_UP LG(UP)
#define MAC_PG_DN LG(DOWN)
#define MAC_HOME LG(LEFT)
#define MAC_END LG(RIGHT)

//Swedish specific keys
#define SWE_AU LBKT
#define SWE_AE SQT
#define SWE_OE SEMI

// Navigation
#define MAC_WORD_L LA(LEFT)
#define MAC_WORD_R LA(RIGHT)



// Linux specific keycodes

//Number row
#define LIN_BANG LS(N1)
#define LIN_QUOTE LS(N2)
#define LIN_AT RA(N2)
#define LIN_BRKT LS(N3)
#define LIN_DOLLAR RA(N4)
#define LIN_PERC LS(N5)
#define LIN_AMPER LS(N6)
#define LIN_SLASH LS(N7)
#define LIN_LBRC RA(N7)
#define LIN_RBRC RA(N0)
#define LIN_LPAR LS(N8)
#define LIN_RPAR LS(N9)
#define LIN_LBRKT RA(N8)
#define LIN_RBRKT RA(N9)
#define LIN_EQUAL LS(N0)
#define LIN_PLUS MINUS
#define LIN_BSLASH RA(MINUS)
#define LIN_QMARK LS(MINUS)

//Other keys
#define LIN_STAR LS(NUHS)
#define LIN_APOS NUHS
#define LIN_CARET LS(NUBS)
#define LIN_FTICK EQUAL
#define LIN_MINUS QMARK
#define LIN_LOW_DASH LS(QMARK)
#define LIN_LTHAN GRAVE
#define LIN_GTHAN LS(GRAVE)
#define LIN_PIPE RA(GRAVE)

// combos
#define LIN_CUT LC(X)
#define LIN_COPY LC(C)
#define LIN_PASTE LC(V)
#define LIN_UNDO LC(Z)
#define LIN_REDO LS(LC(Z))
#define LIN_SELECT_ALL LC(A)

/ {
	behaviors {
		magic: magic_hold_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "MAGIC_HOLD_TAP";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <200>;
			bindings = <&mo>, <&rgb_ug_status_macro>;
		};
	};
	macros {
		bcktk: backtick {
			label = "BACKTICK";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <10>;
			bindings =
			<&macro_press &kp LSHFT>,
			<&macro_tap &kp EQUAL>,
			<&macro_release &kp LSHFT>,
			<&macro_tap &kp SPACE>;
		};
		
		tilde: tilde_macro {
			label = "TILDE";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <10>;
			bindings =
			<&macro_press &kp LSHFT>,
			<&macro_tap &kp NUBS>,
			<&macro_release &kp LSHFT>,
			<&macro_tap &kp SPACE>;
		};
		
		bcktk3: triple_backtick {
			label = "TRIPLE_BACKTICK";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <10>;
			bindings =
			<&macro_press &kp LSHFT>,
			<&macro_tap &kp EQUAL>,
			<&macro_tap &kp EQUAL>,
			<&macro_tap &kp EQUAL>,
			<&macro_release &kp LSHFT>,
			<&macro_tap &kp SPACE>;
		};
		rgb_ug_status_macro: rgb_ug_status_macro_0 {
			label = "RGB_UG_STATUS";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
			= <&rgb_ug RGB_STATUS>;
		};
		
		bt_0: bt_profile_macro_0 {
			label = "BT_0";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
			= <&out OUT_BLE>,
			<&bt BT_SEL 0>;
		};
		
		bt_1: bt_profile_macro_1 {
			label = "BT_1";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
			= <&out OUT_BLE>,
			<&bt BT_SEL 1>;
		};
		
		bt_2: bt_profile_macro_2 {
			label = "BT_2";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
			= <&out OUT_BLE>,
			<&bt BT_SEL 2>;
		};
		
		bt_3: bt_profile_macro_3 {
			label = "BT_3";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
			= <&out OUT_BLE>,
			<&bt BT_SEL 3>;
		};
	};
	
	keymap {
		compatible = "zmk,keymap";
		mac_base_layer {
			bindings = <
			&kp F1            &kp F2              &kp F3          &kp F4          &kp F5                                                                                                                                  &kp F6         &kp F7          &kp F8          &kp F9         &kp F10
			&kp F11           &kp N1              &kp N2          &kp N3          &kp N4          &kp N5                                                                                                    &kp N6        &kp N7         &kp N8          &kp N9          &kp N0         &kp F12
			&kp ESC           &kp Q               &kp W           &kp E           &kp R           &kp T                                                                                                     &kp Y         &kp U          &kp I           &kp O           &kp P          &kp SWE_AU
			&kp TAB           &kp A               &kp S           &kp D           &kp F           &kp G                                                                                                     &kp H         &kp J          &kp K           &kp L           &kp SWE_OE     &kp SWE_AE
			&kp LSHFT         &kp Z               &kp X           &kp C           &kp V           &kp B           &kp LSHFT     &kp LCTRL     &kp LALT       &kp RALT     &kp RCTRL           &kp RSHFT     &kp N         &kp M          &kp COMMA       &kp DOT         &kp MAC_MINUS  &kp RSHFT
			&magic MAGIC 0    &none               &none           &kp LEFT        &kp RIGHT                       &kp BSPC      &kp LGUI      &kp DEL        &kp DEL      &lt MAC_LOWER ENTER &kp SPACE                   &kp UP         &kp DOWN        &none           &none          &none
			>;
		};
		
		mac_lower_layer {
			bindings = <
			&kp C_BRI_DN      &kp C_BRI_UP        &kp C_PREV      &kp C_NEXT      &kp C_PP                                                                                                                                &kp C_MUTE     &kp C_VOL_DN    &kp C_VOL_UP    &none           &none
			&none             &none               &none           &none           &none           &none                                                                                                     &none         &none          &none           &none           &none           &none
			&none             &kp MAC_PERC        &bcktk          &kp MAC_FTICK   &kp MAC_APOS    &kp MAC_TILDE                                                                                             &kp MAC_CARET &kp MAC_LTHAN  &kp MAC_LBRKT   &kp MAC_RBRKT   &kp MAC_GTHAN   &none
			&trans            &kp MAC_AT          &kp MAC_STAR    &kp MAC_DOLLAR  &kp MAC_AMPER   &kp MAC_BRKT                                                                                              &kp MAC_EQUAL &kp MAC_LBRC   &kp MAC_LPAR    &kp MAC_RPAR    &kp MAC_RBRC    &none
			&trans            &kp MAC_UNDO        &kp MAC_CUT     &kp MAC_COPY    &kp MAC_PASTE   &kp MAC_REDO    &none         &none         &none          &none        &none                &none        &kp MAC_PLUS  &kp MAC_BSLASH &kp MAC_PIPE    &kp MAC_SLASH   &kp MAC_QMARK   &none
			&trans            &none               &none           &kp MAC_HOME    &kp MAC_END                     &none         &none         &none          &none        &none                &none                      &kp MAC_PG_UP  &kp MAC_PG_DN   &none           &none           &none
			>;
		};
		
		magic_layer {
			bindings = <
			&bt BT_CLR        &to MAC_BASE        &to LINUX_BASE  &none           &none                                                                                                                                   &none          &none           &none           &none           &bt BT_CLR_ALL
			&none             &none               &none           &none           &none           &none                                                                                                     &none         &none          &none           &none           &none           &none
			&none             &rgb_ug RGB_SPI     &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_TOG                                                                                           &none         &none          &none           &none           &none           &none
			&bootloader       &rgb_ug RGB_SPD     &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_EFF                                                                                           &none         &none          &none           &none           &none           &bootloader
			&sys_reset        &none               &none           &none           &none           &none           &bt_2         &bt_3         &none          &none        &none                 &none       &none         &none          &none           &none           &none           &sys_reset
			&none             &none               &none           &none           &none                           &bt_0         &bt_1         &out OUT_USB   &none        &none                 &none                     &none          &none           &none           &none           &none
			>;
		};
		
		linux_base_layer {
			bindings = <
			&kp F1            &kp F2              &kp F3          &kp F4          &kp F5                                                                                                                                  &kp F6         &kp F7          &kp F8          &kp F9          &kp F10
			&kp F11           &kp N1              &kp N2          &kp N3          &kp N4          &kp N5                                                                                                    &kp N6        &kp N7         &kp N8          &kp N9          &kp N0          &kp F12
			&kp ESC           &kp Q               &kp W           &kp E           &kp R           &kp T                                                                                                     &kp Y         &kp U          &kp I           &kp O           &kp P           &kp SWE_AU
			&kp TAB           &kp A               &kp S           &kp D           &kp F           &kp G                                                                                                     &kp H         &kp J          &kp K           &kp L           &kp SWE_OE      &kp SWE_AE
			&kp LSHFT         &kp Z               &kp X           &kp C           &kp V           &kp B           &kp LSHFT     &kp LCTRL     &kp LGUI       &kp LGUI     &kp RCTRL             &kp RSHFT   &kp N         &kp M          &kp COMMA       &kp DOT         &kp LIN_MINUS   &kp RSHFT
			&magic MAGIC 0    &none               &none           &kp LEFT        &kp RIGHT                       &kp BSPC      &kp LALT      &lt LINUX_LOWER DEL &kp DEL &lt LINUX_LOWER ENTER &kp SPACE                 &kp UP         &kp DOWN        &none           &none           &none
			>;
		};
		
		linux_lower_layer {
			bindings = <
			&kp C_BRI_DN      &kp C_BRI_UP        &kp C_PREV      &kp C_NEXT      &kp C_PP                                                                                                                                &kp C_MUTE     &kp C_VOL_DN    &kp C_VOL_UP    &none           &none
			&none             &none               &none           &none           &none           &none                                                                                                     &none         &none          &none           &none           &none           &none
			&none             &kp LIN_PERC        &bcktk          &kp LIN_FTICK   &kp LIN_APOS    &tilde                                                                                                    &kp LIN_CARET &kp LIN_LTHAN  &kp LIN_LBRKT   &kp LIN_RBRKT   &kp LIN_GTHAN   &none
			&trans            &kp LIN_AT          &kp LIN_STAR    &kp LIN_DOLLAR  &kp LIN_AMPER   &kp LIN_BRKT                                                                                              &kp LIN_EQUAL &kp LIN_LBRC   &kp LIN_LPAR    &kp LIN_RPAR    &kp LIN_RBRC    &none
			&trans            &kp LIN_UNDO        &kp LIN_CUT     &kp LIN_COPY    &kp LIN_PASTE   &kp LIN_REDO    &none         &none         &none          &none        &none                 &none       &kp LIN_PLUS  &kp LIN_BSLASH &kp LIN_PIPE    &kp LIN_SLASH   &kp LIN_QMARK   &none
			&trans            &none               &none           &kp HOME        &kp END                         &none         &none         &none          &none        &none                 &none                     &kp PG_UP      &kp PG_DN       &none           &none           &none
			>;
		};
		
	};
};
